//SIZES
$viewport: calc(100vw - (100vw - 100%));
$verticalFixedUnit: 80px;
$sideMargin: 100vw/48;
$sideUnit: 100vw/12;

//COLORS
$light: #759ed8;
$default: #597AA9;
$shadow: #37547e;
$shadower: #15325c;
$background-color: #e9ecef;

$error: red;
$warning: yellow;
$success: blue;
$buy: green;
$font: 'Oswald';

@mixin defaultSize {
    width: $viewport;
    height: 75vh;
}