.default{
    background-color: $default;
}
.error{
    background-color: $error;
}
.warning{
    background-color: $warning;
}
.success{
    background-color: $success;
}
.buy{
    background-color: $buy;
}
