*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    background-color: $background-color;
}
body{
    font-family: $font;
    letter-spacing: 0.5px;
    background-color: $background-color;
}

*:before,
*:after {
 box-sizing: border-box;
}